/*-----------------------------------
 | 查询数据表格展示
-----------------------------------*/
.query-list tr td { max-width: 240px; word-break: break-all;}
.query-list .btn { padding: 0 5px;}
.query-list .icon-down { font-size: 11px;}
.query-list tr.source, .query-list tr.source-top { background-color: #333;}
.query-list tr td._index, .query-list tr th._index { text-align: right; word-break: keep-all;}
.page-loading {text-align: center; margin-bottom: 20px;}
.page-loading .iconfont {font-size: 20px;}