@keyframes shake {
    0%, 100% {-webkit-transform: translateX(0); transform: translateX(0);}
    10%, 30% {-webkit-transform: translateX(-10px); transform: translateX(-10px);}
    50%, 70% {-webkit-transform: translateX(-6px); transform: translateX(-6px);}
    90% {-webkit-transform: translateX(-2px); transform: translateX(-2px);}
    20% {-webkit-transform: translateX(10px); transform: translateX(10px);}
    40% {-webkit-transform: translateX(8px); transform: translateX(8px);}
    60% {-webkit-transform: translateX(4px); transform: translateX(4px);}
    80% {-webkit-transform: translateX(2px); transform: translateX(2px);}
}
.animation-shake {
    -webkit-animation-duration: 1100ms; animation-duration: 1100ms;
    -webkit-animation-iteration-count: 1; animation-iteration-count: 1;
    -webkit-animation-name: shake; animation-name: shake;
}

@keyframes slideInDown {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -900px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 10px, 0);
    }

    75% {
        transform: translate3d(0, -7px, 0);
    }

    90% {
        transform: translate3d(0, 2px, 0);
    }

    to {
        transform: none;
    }
}
.animation-slideInDown {
    -webkit-animation-duration: 800ms; animation-duration: 800ms;
    -webkit-animation-iteration-count: 1; animation-iteration-count: 1;
    -webkit-animation-name: slideInDown; animation-name: slideInDown;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
.animation-fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
}
.animation-fadeOutLeft {
    animation-name: fadeOutLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
.animation-fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.animation-spin {
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}